#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.appHeaderContainer{
  margin-bottom: 30px;;
}

.answerContainer {
  margin-top: 20px;
  padding: 50px;
}